/* styles for this page only */




section {
    border-top: 2px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    
    
   
}




h3 {

    font-size: 25px;
}

p {
    font-family: monospace;

    font-size: 20px;
}

img {

    width: 250px;
    height: 200px;
   
}


/* footer height size is not the same as header height size, need to fix
footer on about and portfolio is sticky because before it was blocking content
*/

footer {
    display: block;
    background-color:rgba(245, 245, 220, 1);
    box-sizing: border-box;
    position: sticky;
    height: 70px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    
    
    }

     /*overall still not satisfied with the layout still needs alot of work!  */


.music-div {
 
    background-color: rgba(245, 245, 220, 1);
    padding-top: 4px;
    padding-bottom: 4px;
    overflow: auto;
}

.festival-img {
        float: left;
        padding-left: 20px;
        padding-bottom: 10px;

}

   
 .videogame-div {
   
        
        padding-top: 4px;
        padding-bottom: 4px;
        overflow: auto;
        
}

.video-img {

    float: right;
    padding-bottom: 20px;
   
    
}

.videoparagraph {

    margin-left: 18%;
}

.guitar-div {

    
        background-color: rgba(245, 245, 220, 1);
        padding-top: 4px;
        padding-bottom: 4px;
        overflow: auto;

}

.guitar-img {

    float: left;
    padding-left: 20px;
    padding-bottom: 10px;
}