/* styles for this page only */

h1,h2 {
    text-align: center;
}


h3 {

    font-size: 30px;
}

p {
    font-size: 20px;
}

img {

    width: 250px;
    height: 200px;
}


.music-div {

    padding-left: 20px;
}

.videogame-div {
   padding-left: 20px;
}

.guitar-div {
    padding-left: 20px;
}