/* styles for this page only */




section {
    border-top: 2px solid black;
}




h3 {

    font-size: 25px;
}

p {
    font-family: monospace;

    font-size: 20px;
}

img {

    width: 250px;
    height: 200px;
   
}


/* footer height size is not the same as header height size, need to fix
footer on about and portfolio is sticky because before it was blocking content
*/

footer {
    display: block;
    background-color:  rgba(245, 245, 220, 1);
    box-sizing: border-box;
    position: sticky;
    height: 70px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    
    
    }

    

  


 
   
   