/* styles for index page only */


h2 {
    font-size: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


p {
    text-align: center;
    padding-left: 20px;
    font-size: 20px;
    font-family: monospace;
   
}

/* footer height size is not the same as header height size, need to fix
footer on index page is set to fixed because no scrolling is required
*/
footer {
    display: block;
    background-color: white;
    box-sizing: border-box;
    position: fixed;
    height: 70px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    }


.quote {

    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    font-family: monospace;

}

.github-link {

    padding-left: 20px;
}

