/* styles for index page only */

h1, h2 {

color: gold;
text-align: center;
}

.nav-bar {

    text-align: right;
    
    padding-right: 20px;
}

p {
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
   
}

/* ALL a tags on this single page will be gold */
a {
    color: gold;
}

.quote {

    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}

.github-link {

    padding-left: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
}