/* styles for index page only */





p {
    text-align: center;
    padding-left: 20px;
    font-size: 20px;
    font-family: monospace;
   
}

/* footer height size is not the same as header height size, need to fix
footer on index page is set to fixed because no scrolling is required
*/
footer {
    display: block;
    background-color:  rgba(245, 245, 220, 1);
    box-sizing: border-box;
    position: fixed;
    height: 70px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    }


/* colors are always subject to change */
    .content-section {
        margin: 100px;
        background: transparent;
        box-shadow: 5px 5px 15px 15px  rgba(0, 0, 0, .8);
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgba(245, 245, 220, 1);
        
    }

.quote {

    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    font-family: monospace;

}

.github-link {

    padding-left: 20px;
}

