/* this is a style for all pages */

* {
   box-sizing: border-box;
}


/* this main class is what makes the pages padding and spacing look professional.
This selector is also why all of the content in each section is centered. When I get more advanced I can
start spacing in a different way thats not only centered. */
main {
   min-height: 100vh;
   padding: 64px 24px 96px;
   text-align: center;
   
}




header {
   background-color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 20px;
   
}

body {

   margin: 0%;
   background-color: teal;
   
}

h2 {
   font-size: 40px;
   text-align: center;
   font-family: monospace;


}


nav {
   font-size: 30px;
   padding-right: 20px;
}



a {
   color: black;
   

}

nav a:hover {
  background-color: teal;
}



nav a {
   
   transition: background-color 1.5s ease-out;

}


